body {
  background-color: rgb(89, 47, 127);
}
.coinprice {
  padding-top: 50px;
}
h1 {
  color: white;
}
.bitcoin {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  padding: 10px 20px;
}
